div {
    background-color: beige;
    padding: 3px;
}
.poem {
    text-align: center;
}
html {
    background-image: url("background.jpg");
    background-attachment: fixed;
}
h2 {
    background-color: beige;
    padding: 3px;
    margin-top: 9px;
    margin-bottom: 2px;
    color: rgb(79, 114, 114);
    text-shadow: 2px 0 aqua;
}
h1 {
    background-image:linear-gradient(rgb(114, 183, 229),beige);
    text-align: center;
    padding: 3px;
    font-size: 30pt;
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
ul {
    background-color: beige;
    padding: 3px;
    list-style-position: inside;
}
ol {
    background-color: beige;
    padding: 3px;
    list-style-position: inside;
}
p {
    background-color: beige;
    padding: 3px;
    text-indent: 30px;
}
table {
    background-color: white;
    border-color: black;
    border-style: inset;
    display: grid;
    position:relative;
    float: center;
    margin: 30px;
    table-layout: fixed;
    width: 900px;
}
tr:nth-child(even){
    background: #CCC
}
tr:first-child{
    background-color: rgb(191, 196, 134);
}
table td {
    border: 1px solid black;
}
table th{
    border: 2px solid black;
    width: 150px;
}
.work {
    background-color: rgba(177, 78, 78, 0.746);
}
.workout {
    background-color: rgba(164, 147, 147, 0.763);
}
.english {
    background-color: rgba(85, 177, 78, 0.746);
}
.phys {
    background-color: rgba(78, 170, 177, 0.746);
}
.ethics {
    background-color: rgba(126, 78, 177, 0.746);
}
.webd {
    background-color: rgba(174, 177, 78, 0.746);
}
.study {
    background-color: rgba(23, 112, 171, 0.746);
}
.drive {
    background-color: rgba(220, 180, 132, 0.739);
}
body {
    font-family:Verdana, Tahoma, sans-serif;
    font-size: 12pt;
    margin: 30px;
}
a {
    display: contents;
}
a:hover {
    display:inline;
}
img {
    border-radius: 20px;
    padding: 10;
    height: 400px;
}
#myImg {
    display: block;
    position:relative;
    float:right;
    cursor: pointer;
    transition: 0.3s;
}
#myImg:hover {
    height: 410px;
    opacity: 0.7;
}
.modal {
    display: none; 
    position: fixed; 
    float:none;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}
.modal-content {
    margin: auto;
    display: block;
    height: 650px
}
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    background-color: #00000000;
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
